.container{
  margin:auto;
  background-color: aqua;
  width:500px;
  text-align: center;
  align-items: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 8px;
  margin:auto
}
input{
  width:200px;
  height:20px;
  margin-bottom:10px
}
button{
  height:25px
}