#dropdown-basic{
    height: 40px;
    width: 200px;
    margin: auto;
}

.navIcon i{
    color:aqua;
    font-size:30px;
    margin-right: 15px;
}

#dropdown-basic i{
    font-size:15px;
    color:white
}
.link{
    color:#858686
}
.link:hover{
    text-decoration:none;
    color:black
}